body {
    font-family: 'Overpass', sans-serif;
}
a:focus {
    outline: none;
}
.nav.navbar-nav {
    margin-bottom: 6px;
    margin-top: 10px;
}
    .top-image {
    background: rgba(0, 0, 0, 0) url("../../img/top-bg.png") no-repeat scroll 0 0 / cover;
    height: 100%;
    /*  margin-top: -88px;*/
}
.navbar-default {
    background-color: transparent;
    border: none;
}
.navbar-nav > li > a {
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;
    padding-top: 15px;
    text-shadow: 1px 2px 1px #747474;
    text-transform: initial;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent !important;
}
.navbar {
    margin-bottom: 26px;
}
.logo img {
    margin: 0 auto 0px;
}
.text-section {
    border-radius: 6px;
    display: table-cell;
    left: 0;
    margin: 20px auto 0;
    padding: 0px 37px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 6%;
    width: 70%;
    z-index: 1
}
.english a span {
    color: #000 !important;
}
.text-section h1 {
    color: #001e60;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 4px 2px #808080;
    font-style: italic;
    margin-top: 0;
}
.text-section p {
    color: #223c67;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
    text-shadow: 2px 0 2px #808080;
}
.logo-mini img {
    width: 100px;
    margin-right: 10px;
    margin-top: -4px;
    padding: 0;
}
.logo-mini {
    padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
}
.nav > li > a {
    display: block;
    padding: 10px 20px;
}
.glyphicon.glyphicon-search {
    color: #ff6a01;
    font-size: 24px;
    left: 28px;
    position: absolute;
    top: 15px;
}
.glyphicon-map-marker {
    color: #ff6a01;
    font-size: 24px;
    left: 26px;
    position: absolute;
    top: 33px;
}
.border-left-start {
    color: #b3b3b3;
    margin-top: 15px;
    padding: 9px 0 0 75px;
    position: relative;
}
.border-left-start-left {
    color: #b3b3b3;
    padding: 9px 30px 9px 60px;
    position: relative;
}
.border-left {
    border-right: 5px solid #b3b3b3;
    color: #b3b3b3;
    margin-top: 10px;
    padding-right: 24px;
}
.rent-find .form-control {
    box-shadow: none;
    border-radius: 0;
    height: 45px;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 0;
    border-bottom: 1px solid #d8d8d8;
    color: #342c2e;
    border: none;
}
.rent-find {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn-orange {
    background-color: #ffb601;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    height: 65px;
    line-height: 57px;
    text-align: center;
    vertical-align: middle;
}
.btn-green {
    background-color: #2ec24d;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    height: 65px;
    text-align: center;
    vertical-align: middle;
    line-height: 57px;
}
.btn-green:hover,
.btn-green:focus {
    color: #fff;
}
.how-it-works h2,
.why-use-stash h2,
.rent-out-space h2 {
    font-size: 30px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 55px;
}
.how-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 30px;
    margin-bottom: 90px;
}
.how-right-section h3 {
    color: #31c353;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}
.how-right-section p {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #939393;
}
.list-right-section {
    margin-bottom: 30px;
}
.bg-works {
    background: url("../../img/pattern.png") repeat;
    height: 100%;
}
.list-right-section img {
    margin-left: 25px;
}
.stash-top-img > img {
    width: 100%;
}
.why-use-stash h3 {
    color: #797979;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 400;
}
.why-use-stash p {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #939393;
}
.why-use-stash h2 {
    margin-top: 35px;
    margin-bottom: 35px;
}
#rent-out-space h3 {
    color: #939393;
}
#rent-out-space img {
    margin-left: 0;
}
.bottom-footer ul {
    margin-bottom: 0;
}
.bottom-footer {
    padding: 13px 10px 1px;
}
.main-footer ul {
    line-height: 26px;
}
.padding-left {
    padding-left: 0
}
.padding-right {
    padding-right: 0
}
.nav-top {
    background-color: #fff;
    margin-bottom: 0;
}
.nav-top li a {
    line-height: 49px;
    font-family: 'Open Sans', sans-serif;
    color: #2f2f2f;
    font-size: 15px;
}
.item.active > img {
    width: 100%;
}
.contact-img img {
    margin-right: 6px;
    margin-top: -6px;
}
.navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

.map-marker {
    background: rgba(0, 0, 0, 0) url("../../img/marker-24.png") no-repeat scroll 0 0 !important;
    display: block;
    height: 24px;
    left: 25px;
    position: absolute;
    top: 30px;
    width: 24px;
}
.btn-orange:hover,
.btn-orange:focus {
    color: #fff;
}
.form-control::-moz-placeholder {
    color: #342c2e;
}
.navbar-brand {
    float: none;
}
.footer-panel {
    background-color: #303030;
    color: #fff;
    padding: 20px 0;
}
.footer-panel ul {
    padding-left: 0;
}
.footer-strip {
    background: rgba(0, 0, 0, 0) url("../../img/footer-bg.png") no-repeat scroll 0 0 / 100% auto;
    height: 207px;
    background-size: cover;
}
.footer-panel .list-unstyled a {
    color: #fff;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
}
.fb {
    background: rgba(0, 0, 0, 0) url("../../img/fb.png") no-repeat scroll 0 0;
    height: 46px;
    width: 50px;
}
.google {
    background: rgba(0, 0, 0, 0) url("../../img/google.png") no-repeat scroll 0 0;
    height: 46px;
    width: 50px;
}
.instagram {
    background: rgba(0, 0, 0, 0) url("../../img/instagram.png") no-repeat scroll 0 0;
    height: 46px;
    width: 50px;
}
.twiter {
    background: rgba(0, 0, 0, 0) url("../../img/twiter.png") no-repeat scroll 0 0;
    height: 46px;
    width: 50px;
}
.footer-img {
    margin-bottom: 18px;
    margin-top: 30px;
}
.footer-box p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}
.text-lefts {
    margin-left: 48px;
    text-align: left;
    margin-bottom: 20px;
}
.footer-box h3 {
    margin-bottom: 20px;
}
.list-inline > a {
    display: inline-block;
}
.right-stash {
    margin-top: 63px;
}
.change-scroll {
    background-color: #4d84b7;
    box-shadow: 1px 1px 2px #ccc;
}
.custom-nav {
    box-shadow: 2px 2px 5px #ccc;
}
.cms-page {
    margin-top: 5%;
}
.cms-page p {
    font-size: 14px;
}
.cms-page p {
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    font-family: "Open Sans", sans-serif;
}
.cms-page h3 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
.flag-icon-us {
    background: url(../../img/USA.png) no-repeat;
    display: none;
}
.navbar-right select {
    margin-left: 64px;
    margin-top: 11px;
}

/** login css **/

.btn.btn-fb {
    background: #4c70ba none repeat scroll 0 0;
    color: #fff;
    width: 100%;
}
.btn.btn-google {
    background: #f75640 none repeat scroll 0 0;
    color: #fff;
    width: 100%;
}
.btn.btn-twitter {
    background: #9dc3e6 none repeat scroll 0 0;
    color: #fff;
    width: 100%;
    position: relative;
}
.fa.fa-twitter-square {
    left: 22px;
    position: absolute;
    top: 3px;
}
.btn.btn-instagram {
    background: #7030a0 none repeat scroll 0 0;
    color: #fff;
    width: 100%;
}
.btn.btn-youtube {
    background: #c00000 none repeat scroll 0 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    width: 100%;
    position: relative;
}
.fa.fa-youtube {
    left: 21px;
    position: absolute;
    top: 2px;
}
.btn.btn-email {
    background: #00b050 none repeat scroll 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    width: 100%;
}
.btn.btn-call {
    background: #ffc000 none repeat scroll 0 0;
    color: #fff;
    width: 100%;
}
.login-popover .dropdown-menu {
    border-radius: 10px !important;
}
.english img {
    margin-top: -2px;
}
.or-sep {
    text-align: center;
    border-top: 1px solid #aaa;
    display: block;
    position: relative;
    margin: 2em 0 2em 0;
}
.or-sep-inner {
    color: #555;
    background-color: white;
    padding: 0 1em;
    position: absolute;
    top: -13px;
    left: 45%;
}
.forgot-pass a {
    color: #0c0;
}
.btn-green-login {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    line-height: 15px;
}
.btn-green-login:hover {
    background-color: #51a351;
    color: #fff;
}
.login-popover .fa {
    font-size: 25px;
    margin-right: 8px;
    vertical-align: bottom;
}

.login-popover .form-group {
    margin-bottom: 10px;
}

.login-popover .form-group:last-child{
    margin-bottom: 0px;
}

.contact-wraper .dropdown-menu:after {
    border: none;
    border-left: none;
    border-right: none;
}
.contact-wraper .dropdown-menu:before {
    border: none;
    border-left: none;
    border-right: none;
}
.dropdown-menu::after {
    border-bottom: 14px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    left: 30px;
    position: absolute;
    top: -14px;
}
.dropdown-menu::before {
    border-bottom: 15px solid rgba(0, 0, 0, 0.2);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: "";
    display: inline-block;
    left: 30px;
    position: absolute;
    top: -15px;
}
.login-wraper {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    box-shadow: -1px 11px 39px #e8e8e8;
    margin-bottom: 200px;
    margin-top: 33%;
    padding: 32px 53px;
}
.login-wraper h3 {
    color: #7c7c7c;
    font-size: 26px;
    margin-bottom: 29px;
    margin-top: 0;
}
.login-wraper .fa {
    font-size: 30px;
    vertical-align: bottom;
    margin-right: 10px;
}
.login-wraper .btn {
    font-size: 16px;
}
.fa.fa-envelope-o {
    left: 40px;
    position: absolute;
    top: 3px;
}
.fa.fa-phone {
    left: 25px;
    position: absolute;
    top: 3px;
}
.login-wraper .btn-google,
.login-wraper .btn-fb {
    width: 60%;
}
.login-wraper .or-sep-inner {
    background-color: white;
    color: #555;
    left: 45%;
    padding: 0 1em;
    position: absolute;
}
.btn-register {
    background-color: #2ec24d;
    border-radius: 6px;
    color: #fff;
    font-size: 20px !important;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.btn-register:hover {
    color: #fff;
}
.signup-show a {
    font-size: 16px;
    font-weight: 300;
}
@media (min-width: 1200px) and (max-width: 1500px) {
    .text-section {
        width: 80%;
    }


    .nav > li > a {
    display: block;
    padding: 10px 14px !important;
}

}
@media (min-width: 1200px) and (max-width: 1400px) {

    .list-right-section img {
        width: 70%;
    }
    .why-use-stash {
        padding-top: 30px !important;
    }
    .how-it-works h2,
    .why-use-stash h2,
    .rent-out-space h2 {
        font-size: 20px;
    }
    .how-right-section h3 {
        font-size: 18px;
    }
    .how-text {
        font-size: 14px;
        line-height: 22px;
    }
    .rent-out-space {
        padding-top: 65px !important;
    }
    body .how-it-works {
        padding-top: 65px;
    }
    .how-text {
        margin-bottom: 20px;
    }
    .stash-img img {
        width: 115px;
    }
    .how-it-works h2,
    .why-use-stash h2,
    .rent-out-space h2 {
        margin-bottom: 25px;
    }
    .why-use-stash h3 {
        font-size: 20px !important;
    }
}
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .right-stash {
        margin-top: 0;
        text-align: center;
    }
    .login-wraper {
        padding: 32px 15px;
    }
    .sign-up-outer {
        padding-left: 0;
        padding-right: 0;
    }
    .login-wraper .btn-google,
    .login-wraper .btn-fb {
        width: 97%;
    }
    .login-wraper .btn {
        font-size: 15px;
    }
    .dropdown-menu::before {
        border-bottom: none;
    }
    .why-use-stash .container img {
        width: 150px;
    }
    .logo img {
        width: 105px;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .text-section {
        position: static;
    }
    .text-section {
        padding: 0;
    }
    .rent-find {
        padding: 0;
    }
    .rent-find .form-control {
        border-bottom: 1px solid #ccc
    }
    .border-left-start {
        padding: 3px 13px 0 70px;
    }
    .border-left {
        border-right: none;
    }
    .text-section h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .text-section p {
        font-size: 20px;
    }
    .logo img {
        margin: 19px auto 32px;
    }
    .navbar {
        margin-bottom: 0;
        padding: 10px;
    }
    .navbar-default .navbar-toggle {
        margin-top: 14px;
    }
    .btn-orange,
    .btn-green {
        height: 46px;
        font-size: 20px;
        line-height: 39px;
    }
    .border-left-start-left {
        padding: 9px 18px 9px 16px;
        margin-top: 10px;
    }
    .map-marker {
        top: 22px;
    }
    .border-left {
        padding-right: 19px;
        margin-top: 15px;
    }
    .rent-find {
        padding-bottom: 22px;
        padding-top: 3px;
    }
    .bg-works {
        height: auto;
    }
    .how-it-works {
        padding-top: 40px !important;
    }
    .list-right-section {
        text-align: center;
    }
    .list-right-section img {
        margin-left: 0;
    }
    .why-use-stash {
        height: auto !important;
    }
    .main-footer {
        text-align: center;
    }
    .how-it-works h2,
    .why-use-stash h2,
    .rent-out-space h2 {
        font-size: 28px;
    }
    .why-use-stash h3 {
        font-size: 22px;
    }
    .why-use-stash p {
        margin-bottom: 50px;
    }
    .how-text {
        text-align: center;
    }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .nav > li > a {
        padding: 10px 7px !important
    }
    .navbar-right select {
        margin-left: 27px;
        margin-top: 9px;
    }
    .text-section {
        width: 100%;
    }
    .border-left {
        border-right: none;
        padding-right: 17px;
    }
    .border-left-start-left {
        padding: 9px 16px 9px 17px;
    }
    .navbar-nav > li > a {
        font-size: 14px;
    }
    .why-use-stash {
        height: auto !important;
    }
}


.button span {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 20px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s, opacity .6s;
    -moz-transition: .4s, opacity .6s;
    -o-transition: .4s, opacity .6s;
    transition: .4s, opacity .6s;
}

/* :before */

.button:before {
    content: attr(data-hover);
}

/* :after */

.button:after {
    content: attr(data-active);
}

/* Span on :hover and :active */

.button:hover span,
.button:active span {
    opacity: 0;
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.button:hover:before,
.button:active:after {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

/* 
  We hide :before pseudo-element on :active
*/

.button:active:before {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition-delay: 3s;
    -moz-transition-delay: 3s;
    -o-transition-delay: 3s;
    transition-delay: 3s;
}
.buttons {
    position: relative;
    outline: none;
}
.buttons span {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.buttons:before,
.buttons:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 15px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .10s, opacity .6s;
    -moz-transition: .4s, opacity .6s;
    -o-transition: .4s, opacity .6s;
    transition: .4s, opacity .6s;
}
/* :before */

.buttons:before {
    content: attr(data-hover);
}

/* :after */

.buttons:after {
    content: attr(data-active);
}

/* Span on :hover and :active */

.buttons:hover span,
.buttons:active span {
    opacity: 0;
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.buttons:hover:before,
.buttons:active:after {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

/* 
  We hide :before pseudo-element on :active
*/

.buttons:active:before {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition-delay: 3s;
    -moz-transition-delay: 3s;
    -o-transition-delay: 3s;
    transition-delay: 3s;
}
.custom-nav .nav > li > a {
    padding: 14px 20px;
}
.custom-nav {
    background: #4d84b7;
}
.custom-nav .nav.navbar-nav {
    margin-bottom: 3px;
    margin-top: 12px;
}


/*
.stash-top-img {
    background: url('../../img/home-img.png');
}*/

.stash-map-listing {
    position: relative;
}

.right-listing-map {
    bottom: 0;
    overflow: auto;
    position: absolute;
    top: 0;
}

.left-listing {
    margin-left: 471px;
}