
body {
    height: 100%;
    width: 100%;
}
html {
    height: 100%;
    width: 100%;
}
@media (min-width: 767px) {
.navbar {
  /*  padding: 20px 0;*/
    transition: background 0.5s ease-in-out 0s, padding 0.5s ease-in-out 0s;
}
.top-nav-collapse {
    padding: 0;
}
}

.intro-section {
    background: #fff none repeat scroll 0 0;
    height: 100%;
   /* padding-top: 150px;*/
    text-align: center;
}

.how-it-works {
    /*background: #fff;*/
    height: 100%;
    padding-top: 150px;
   /* text-align: center;*/
}

.why-use-stash {
    /* background: #fff none repeat scroll 0 0;*/
    height: 100%;
    padding-top: 60px;
    text-align: center;
}

.rent-out-space {
    height: 100%;
    padding-top: 85px;
    padding-bottom: 50px;


}

/*.main-footer {
      height: 100%;
    padding-top: 110px;
}
*/
.services-section {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    padding-top: 150px;
    text-align: center;
}
.contact-section {
    background: #eee none repeat scroll 0 0;
    height: 100%;
    padding-top: 150px;
    text-align: center;
}
