/** Base Css **/
html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

/** End Here **/


.langauge-top li {
    border-right: 2px solid;
    color: #f05a2d;
    line-height: 12px;
}

.langauge-top li a{
	color:#f05a2d;
}

.langauge-top li:last-child{
    border-right: none;
}

.btn-blue {
	background-color:#112d89;
	color:#fff;
	border-radius: 6px;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus{
	background-color:#112d89;
	color:#fff;
	border-radius: 6px;
}

.btn-orange {
	background-color:#f5771d;
	color:#fff;
	border-radius: 6px;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus{
	background-color:#f5771d;
	color:#fff;
	border-radius: 6px;
}

.top-header {
    padding-bottom: 10px;
    padding-top: 15px;
}

.top-header .text-right {
	margin-top: 10px;
}

.langauge-top {
	margin-top: 8px;
}

.navbar-default {
	background-color:#263f92;
	color:#fff;
	border:none;
	border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active{
    color: #fff;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #fff;
    color: #333;
}

.login-wraper {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    box-shadow: -1px 11px 39px #e8e8e8;
    margin-bottom: 90px;
    margin-top: 90px;
    padding: 47px;
    border-radius: 10px;
}

.forget-text a,
.login-bottom-text a{
	color:#ff5425;
	font-weight: 300;
}

.forget-text {
    margin-top: 10px;
}

.login-wraper h3 {
    margin-bottom: 15px;
    margin-top: -6px;
}

.login-wraper .btn-blue {
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
}

.login-wraper label{
	font-weight: 300;
}

.login-bottom-text{
    font-weight: 300;
}

.login-wraper .form-control {
	height: 50px;
	border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: none;
    font-size: 15px;
    font-weight: 300;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon i {
    font-size: 20px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 39px;
    color: #263f92;
}

.registrion-text {
    font-weight: 300;
    margin-bottom: 18px;
}

/** Custom Select **/

@media screen and (min-width: 0) {

@media screen and (-webkit-min-device-pixel-ratio: 0) {

select {
-webkit-appearance: none;
background-position: right center;
padding: 3px 32px 3px 5px;
}
}
@-moz-document url-prefix() {

select {
display: flex;
border: 0;
box-shadow: inset 0 0 1px #000;
padding: 0;
background-position: right center;
padding-right: 16px;
color: transparent;

text-indent: 2px;
}
select * {
color: black;
text-shadow: none;
}
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

select::-ms-expand {
display: none;
}
select {
background-position: right center;
padding-right: 30px;
}
}
.custom-select:before {
display: block;
font-family: 'FontAwesome';
font-size: 1em;
height: 100%;
line-height: 2.5em;
padding: 0 0.625em;
position: absolute;
top: 0;
right: 0;
text-align: center;
width: 1em;
z-index: -1;
}
.custom-select select {
background-color: transparent;
box-shadow: none;
display: block;
font-size: 100%;
line-height: normal;
margin: 0;
padding: .5em;
width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

select {
background: rgba(0, 0, 0, 0) url("../img/custom-select-arrow.png") no-repeat scroll right center !important;
border-radius: 4px;
}

.custom-select select::-ms-expand {
display: none;
}

.custom-select select:focus {
outline: none;
}

:-moz-any(.custom-select):before {
background-color: #fff;

pointer-events: none;

z-index: 1;
}
/** Custom Select End **/



@media (max-width: 767px) { 
	.top-header .text-right {
		text-align: center;
	}

	.login-wraper {
		padding:30px 15px;
		margin-top: 15px;
	}

	.sign-up-outer {
		padding:0;
	}

	.login-wraper .form-control {
		height: 44px;
	}

	.forget-text {
		text-align: left;
	}
	.btn-orange,
	.btn-blue{
		width: 100%;	
		margin-bottom: 10px;
	}

	.top-logo {
		text-align: center;
	}

	.top-logo img {
		text-align: center;
		margin:0 auto;
	}
	
	
}
.error{
	color : red !important;
}