/** Base Css **/

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
}

/** End Here **/

.langauge-top li {
    /*    border-right: 2px solid;*/
    
    color: #f05a2d;
    line-height: 12px;
}
.langauge-top li a {
    color: #f05a2d;
    vertical-align: bottom;
}
.langauge-top li a:hover {
    text-decoration: none;
}
.langauge-top li:last-child {
    border-right: none;
}

.btn-blue {
    background-color: #112d89;
    color: #fff;
    border-radius: 6px;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background-color: #0b2371;
    color: #fff;
    border-radius: 6px;
}
.btn-orange {
    background-color: #f5771d;
    color: #fff;
    border-radius: 6px;
}
.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
    background-color: #e05e01;
    color: #fff;
    border-radius: 6px;
}
.top-header {
    padding-bottom: 10px;
    padding-top: 15px;
}
.top-header .text-right {
    margin-top: 10px;
}
.langauge-top {
    margin-top: 8px;
}
.navbar-default {
    background-color: #263f92;
    color: #fff;
    border: none;
    border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #fff;
    color: #333;
}
.login-wraper {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    box-shadow: -1px 11px 39px #e8e8e8;
    margin-bottom: 90px;
    margin-top: 90px;
    padding: 47px;
    border-radius: 10px;
}
.forget-text a,
.login-bottom-text a {
    color: #ff5425;
    font-weight: 300;
}
.forget-text {
    margin-top: 10px;
}
.login-wraper h3 {
    margin-bottom: 15px;
    margin-top: -6px;
}
.login-wraper .btn-blue {
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
}
.login-wraper label {
    font-weight: 300;
}
.login-bottom-text {
    font-weight: 300;
}
.login-wraper .form-control {
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: none;
    font-size: 15px;
    font-weight: 300;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon i {
    font-size: 20px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 39px;
    color: #263f92;
}
.registrion-text {
    font-weight: 300;
    margin-bottom: 18px;
}
.text-bold-blue {
    color: #263F92;
    font-weight: 600;
}
/** Custom Select **/

@media screen and (min-width: 0) {
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        select {
            -webkit-appearance: none;
            background-position: right center;
            padding: 3px 32px 3px 5px;
        }
    }
    @-moz-document url-prefix() {
        select {
            display: flex;
            border: 0;
            box-shadow: inset 0 0 1px #000;
            padding: 0;
            background-position: right center;
            padding-right: 16px;
            color: transparent;
            text-indent: 2px;
        }
        select * {
            color: black;
            text-shadow: none;
        }
    }
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        select::-ms-expand {
            display: none;
        }
        select {
            background-position: right center;
            padding-right: 30px;
        }
    }
    .custom-select:before {
        display: block;
        font-family: 'FontAwesome';
        font-size: 1em;
        height: 100%;
        line-height: 2.5em;
        padding: 0 0.625em;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        width: 1em;
        z-index: -1;
    }
    .custom-select select {
        background-color: transparent;
        box-shadow: none;
        display: block;
        font-size: 100%;
        line-height: normal;
        margin: 0;
        padding: .5em;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    select {
        background: rgba(0, 0, 0, 0) url("../../img/custom-select-arrow.png") no-repeat scroll right center !important;
        border-radius: 4px;
    }
    .custom-select select::-ms-expand {
        display: none;
    }
    .custom-select select:focus {
        outline: none;
    }
    :-moz-any(.custom-select):before {
        background-color: #fff;
        pointer-events: none;
        z-index: 1;
    }
    /** Custom Select End **/
    /*Home page css**/
    
    .pricing {
        background: rgba(0, 0, 0, 0) url("../../img/price-bg.png") no-repeat scroll 0 0 / cover;
        margin-bottom: 78px;
    }
    .pricing-title {
        color: #fff;
        margin-top: 50px;
        margin-bottom: 28px;
    }
    .pricing-text {
        color: #fff;
        margin-bottom: 50px;
        font-size: 20px;
    }
    .pricing .fa {
        color: #f76f1a;
        font-size: 20px;
        margin-right: 20px;
    }
    .top-image {
        background: rgba(0, 0, 0, 0) url("../../img/bg-top.png") no-repeat scroll 0 0 / cover;
        height: 768px;
    }
    .navbar {
        margin-bottom: 0;
    }
    .text-section {
        margin-top: 141px;
    }
    .banner-content {
        color: #fff;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .left-top-banner {
        margin-top: 70px;
    }
    .text-section .btn-blue {
        font-size: 18px;
        padding: 10px 40px;
    }
    .specialize-border {
        padding: 40px 15px;
        margin: 50px auto;
        width: 322px;
        height: 342px;
        text-align: center;
        border-radius: 6px;
        border-top: 2px solid #e1e1e1;
        border-bottom: 2px solid #e1e1e1;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        -webkit-background-size: 2px 100%;
        -moz-background-size: 2px 100%;
        background-size: 2px 100%;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
        background-image: -webkit-linear-gradient(top, #e1e1e1 0%, #e1e1e1 100%), -webkit-linear-gradient(top, #e1e1e1 0%, #e1e1e1 100%);
        background-image: -moz-linear-gradient(top, #e1e1e1 0%, #e1e1e1 100%), -moz-linear-gradient(top, #e1e1e1 0%, #e1e1e1 100%);
        background-image: -o-linear-gradient(top, #e1e1e1 0%, #e1e1e1 100%), -o-linear-gradient(top, #e1e1e1 0%, #e1e1e1 100%);
        background-image: linear-gradient(to bottom, #e1e1e1 0%, #e1e1e1 100%), linear-gradient(to bottom, #e1e1e1 0%, #e1e1e1 100%);
    }
    .specialize-heading {
        color: #4d4e4e;
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .specialize-border p {
        font-family: 'Open Sans', sans-serif;
        color: #6a6a6a;
        font-size: 17px;
        font-weight: lighter;
        line-height: 24px;
    }
    .specialize-border:hover {
        padding: 40px 15px;
        margin: 50px auto;
        width: 322px;
        height: 342px;
        text-align: center;
        border-radius: 6px;
        border-top: 2px solid #273f91;
        border-bottom: 2px solid #ff6200;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        -webkit-background-size: 2px 100%;
        -moz-background-size: 2px 100%;
        background-size: 2px 100%;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
        background-image: -webkit-linear-gradient(top, #273f91 0%, #ff6200 100%), -webkit-linear-gradient(top, #273f91 0%, #ff6200 100%);
        background-image: -moz-linear-gradient(top, #273f91 0%, #ff6200 100%), -moz-linear-gradient(top, #273f91 0%, #ff6200 100%);
        background-image: -o-linear-gradient(top, #273f91 0%, #ff6200 100%), -o-linear-gradient(top, #273f91 0%, #ff6200 100%);
        background-image: linear-gradient(to bottom, #273f91 0%, #ff6200 100%), linear-gradient(to bottom, #273f91 0%, #ff6200 100%);
    }
    .special-services img {
        height: 78px;
    }
    .special-services h2 {
        color: #4f5050;
        font-size: 32px;
    }
    .special-services {
        margin-top: 20px;
    }
    .service-border {
        margin: 0px auto;
        width: 68px;
        height: 69px;
        text-align: center;
        border-top: 2px solid #273f91;
        border-bottom: 2px solid #ff6200;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        -webkit-background-size: 2px 100%;
        -moz-background-size: 2px 100%;
        background-size: 2px 100%;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
        background-image: -webkit-linear-gradient(top, #273f91 0%, #ff6200 100%), -webkit-linear-gradient(top, #273f91 0%, #ff6200 100%);
        background-image: -moz-linear-gradient(top, #273f91 0%, #ff6200 100%), -moz-linear-gradient(top, #273f91 0%, #ff6200 100%);
        background-image: -o-linear-gradient(top, #273f91 0%, #ff6200 100%), -o-linear-gradient(top, #273f91 0%, #ff6200 100%);
        background-image: linear-gradient(to bottom, #273f91 0%, #ff6200 100%), linear-gradient(to bottom, #273f91 0%, #ff6200 100%);
    }
    .our-services {
        margin-bottom: 100px;
    }
    .our-services .fa {
        color: #263f92;
        font-size: 40px;
        padding: 14px;
    }
    .service-title {
        color: #263f92;
        font-size: 16px;
        margin-top: 15px;
    }
    .z-text .fa {
        color: #fff;
    }
    .hovereffect {
        height: 221px;
        /*    width: 293px;*/
        
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
        transition: all 1s ease 0s;
        display: block;
        padding-top:  73px;
    }
    .z-img {
        position: relative;
    }
    .z-img {
        width: 100%;
        height: 100%;
        transition: all 0.2s ease 0s;
        /*display: table-cell;*/
        vertical-align: middle;
    }
    .hovereffect:hover .z-img {
        transform: scale(1.9);
        opacity: 0.1;
    }
    .z-text {
        background: #564a77;
        /* Old browsers */
        
        background: -moz-linear-gradient(top, #564a77 0%, #86555c 100%);
        /* FF3.6-15 */
        
        background: -webkit-linear-gradient(top, #564a77 0%, #86555c 100%);
        /* Chrome10-25,Safari5.1-6 */
        
        background: linear-gradient(to bottom, #564a77 0%, #86555c 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#564a77', endColorstr='#86555c', GradientType=0);
        /* IE6-9 */
        
        position: absolute;
        height: 221px;
        width: 293px;
        top: -221px;
        z-index: 1111;
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 14px;
        font-family: float: left;
        transition: all 0.2s ease 0.2s;
        padding: 15px;
        box-sizing: padding-box;
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
    }
    .hovereffect:hover .z-text {
        top: 0px;
    }
    .service-inner {
        margin-top: 40px;
    }
    .service-text {
        color: #4f5050;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 70px;
    }
    .price-container {
        background: #fff;
        padding: 20px;
        border-radius: 6px 6px 0 0;
    }
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding: 8px;
        line-height: 1.42857143;
        border-right: 1px solid #ccc;
        vertical-align: top;
        font-size: 19px;
        font-weight: 400;
        border-bottom: 2px dotted #ddd;
        padding: 18px;
        color: #6b6b6b;
    }
    .table>tbody>tr>td {
        border-top: none;
    }
    .table>tbody>tr:last-child > td {
        border-bottom: none;
    }
    .table>tbody>tr>td:last-child,
    .table>tbody>tr>th:last-child,
    .table>tfoot>tr>td:last-child,
    .table>tfoot>tr>th:last-child,
    .table>thead>tr>td:last-child,
    .table>thead>tr>th:last-child {
        border-right: none;
    }
    .work-in-progress {
        background: url('../../img/progress-work.png') no-repeat bottom right;
        padding-top: 18px;
    }
    .left-work-progress {
        background: url('../../img/progress-left-bg.png') no-repeat bottom left;
        border-right: 1px solid #ccc;
        height: 457px;
    }
    .calendar-circle {
        background: #ff6200;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        text-align: center;
        vertical-align: middle;
        font-size: 17px;
        padding: 8px;
        color: #fff;
    }
    .calendar-circle.active {
        background: #263f92;
    }
    .release-date {
        font-size: 21px;
        color: #4d4e4e;
        margin-bottom: 5px;
    }
    .release-version {
        color: #f76f1a;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .text-work {
        margin-bottom: 5px;
    }
    .release-work-section {
        margin-bottom: 70px;
    }
    .work-in-progress h2 {
        color: #4f5050;
        font-size: 36px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 24px;
    }
    .work-in-progress h5 {
        color: #4f5050;
        font-size: 20px;
        font-weight: 500;
    }
    .work-in-progress p {
        font-family: 'Open Sans', sans-serif;
        margin-top: 30px;
        line-height: 30px;
        color: #777878;
        font-size: 16px;
    }
    .faq {
        background: #263f92;
        color: #fff;
        padding-bottom: 60px;
    }
    .faq p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 30px;
    }
    .dotted-border {
        border-bottom: 1px dotted #ccc;
        padding-bottom: 17px;
    }
    .margin-faq {
        margin-bottom: 30px;
    }
    .faq h2 {
        margin: 60px 0;
    }
    .view-more {
        margin-top: 40px;
    }
    .view-more .btn {
        padding: 9px 30px;
    }
    .contact-section {
        background: url('../../img/contact-strip.png'), url('../../img/contact-strip.png');
        background-repeat: repeat-x;
        padding-bottom: 70px;
        background-position: top, bottom;
        padding-top: 10px;
    }
    .contact-section h2 {
        margin-top: 0;
        padding-top: 50px;
        color: #4f5050;
        padding-bottom: 30px;
    }
    .contact-section .btn-orange {
        padding: 10px 46px;
        font-size: 17px;
    }
    .contact-section label {
        color: #868686;
        font-weight: normal;
    }
    .contact-section .form-control {
        height: 44px;
        box-shadow: none;
    }
    .contact-section textarea {
        height: auto !important;
    }
    .langauge-top img {
        width: 16px;
    }
    @media (max-width: 767px) {
        .release-work-section {
            margin-bottom: 11px;
        }
        .release-work-section .col-sm-6 {
            margin-bottom: 30px;
        }
        .left-work-progress {
            border-right: none;
            height: auto;
        }
        .top-header .btn,
        .view-more .btn,
        .text-section .btn {
            width: 42%;
        }
        .text-section .btn {
            margin-top: 40px;
            font-size: 12px;
        }
        .faq h2 {
            margin: 35px 0;
            font-size: 22px;
        }
        .faq {
            padding: 5px;
        }
        .faq h4 {
            font-size: 16px;
            line-height: 25px;
        }
        .faq p {
            line-height: 25px;
        }
        .calendar-circle {
            margin: 0 auto;
        }
        .release-work-section {
            text-align: center;
        }
        .left-work-progress {
            text-align: center;
            background-image: none;
        }
        .hovereffect,
        .z-text {
            width: 100%;
        }
        .top-image {
            height: 635px;
        }
        .left-top-banner {
            margin-top: 39px;
        }
        .left-top-banner img {
            margin: 20px auto;
        }
        .banner-content {
            text-align: center;
            ;
            font-size: 23px;
        }
        .text-section {
            margin-top: 0;
        }
        .text-section .mac-img img {
            width: 100%;
        }
        .top-header .text-right {
            text-align: center;
        }
        .login-wraper {
            padding: 30px 15px;
            margin-top: 15px;
        }
        .sign-up-outer {
            padding: 0;
        }
        .login-wraper .form-control {
            height: 44px;
        }
        .forget-text {
            text-align: left;
        }
        .btn-orange,
        .btn-blue {
            width: 100%;
            margin-bottom: 10px;
        }
        .top-logo {
            text-align: center;
        }
        .top-logo img {
            text-align: center;
            margin: 0 auto;
        }
    }
    @media (max-width: 1199px) {
        .mac-img img {
            width: 100%;
        }
        .left-top-banner {
            margin-top: 0;
        }
        .top-image {
            height: 569px;
        }
        .langauge-top li {
            padding: 0;
        }
        .specialize-border,
        .specialize-border:hover {
            width: auto;
        }
        .hovereffect,
        .z-text {
            width: 355px !important;
        }
    }

    .navbar-nav > .user-menu .user-image {
    border: 1px solid #000;
    border-radius: 50%;
    height: 45px;
    margin-left: 7px;
    margin-right: 10px;
    margin-top: -7px;
    width: 45px;
}

.home-top-menu .navbar-nav .dropdown-toggle {
    margin-top: -15px;
}