<div class="modal addSubsidiary fade" id="emptyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle" aria-hidden="true"></i></span></button>
                <h4 class="modal-title text-center"><?php echo __('Add Company'); ?></h4>
            </div>
            <div class="modal-body clearfix">
                <div class="col-xs-12 col-div">
                   
                </div>
            </div>
        </div>
    </div>
</div>