/* Base Css
-------------------------------------------------- */

body {
    background-repeat: repeat;
    font-family: 'Overpass', sans-serif;
}
.padding-left {
    padding-left: 0;
}
.padding-right {
    padding-right: 0;
}
.row-margin {
    margin-left: 0;
    margin-right: 0;
}
.red-star {
    color: red;
}

/* Top Nav Settings
-------------------------------------------------- */

.navbar-custom-menu .nav .dropdown-toggle {
    padding: 21px 19px 11px !important;
}
.langauge-top li a {
    color: #fff;
}
.langauge-top li {
    /*border-right: 2px solid #fff;*/
    
    line-height: 12px;
}
.langauge-top li:last-child {
    border-right: none;
}
.langauge-top {
    margin-top: 29px;
}
.logo-mini > img {
    margin-right: 13px;
    margin-top: -12px;
    width: 28px;
}
.sidebar-menu .fa {
    font-size: 22px;
    padding-right: 33px;
}
.glyphicon.glyphicon-menu-hamburger {
    color: #fff;
}
.nav-custom {
    height: 72px;
}
.main-header .sidebar-toggle {
    padding-top: 21px !important;
}

/* Top Header Settings
-------------------------------------------------- */
#custom-search-input{
   /* padding: 3px;*/
   position: relative;
    
}


#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
     position: absolute;
    right: 15px;
    top: 10px;
}


 .breadcrumb-no-bg .breadcrumb {
    background:transparent;
    margin-bottom: 0;
 }


.top-header {
    padding: 7px 0;
}

.top-header .top-title {
    font-size: 25px;
    margin-top: 7px;
}

.btn-blue {
    background-color: #F16806;
    color: #fff;
    border-radius: 6px;
    font-size: 18px;
    line-height: 30px;
    padding: 6px 24px;
}

.btn-search {
    background-color: #263f92;
    color: #fff;
    border-radius: 6px;
    font-size: 18px;
    line-height: 30px;
    padding: 6px 24px;
}

.btn-search:hover,
.btn-search:active,
.btn-search:focus {
    background-color: #263f92;
    color: #fff;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background-color: #284191;
    color: #fff;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border: medium none;
    font-size: 14px;
    padding: 15px;
}

.table > tbody > tr > td {
    color: #6e6e6e;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.table tr {
    border-bottom: 1px solid #f2f2f2;
}

.table tr:last-child {
    border-bottom: none;
}

.modal-content .form-control {
    height: 44px;
    box-shadow: none;
}

.modal-content label {
    color: #7d7a7a;
    font-size: 16px;
    font-weight: 400;
}

.modal-content {
    border-color: #284191;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px 1px 1px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    border-bottom: 4px solid #ededed;
    color: #7d7a7a;
    font-size: 24px;
    padding-bottom: 16px;
}

.addSubsidiary .btn-blue {
    padding: 6px 60px;
}

.fa-times-circle {
    color: #284191;
}

.table-responsive {
    margin-bottom: 15px;
    overflow-y: hidden;
    width: 100%;
}

.langauge-top img {
    width: 16px;
}

.nav.navbar-nav.top-right-nav {
    margin-left: 13px;
}

/* Dashboard
-------------------------------------------------- */

.logo-organization img {
    width: 100%;
}

.logo-organization {
    border: 2px solid #ccc;
}

.organization-detail{
    padding:50px 0;
}

.organization-detail .top-title {
    font-size: 25px;
    margin-top: 7px;
    margin-bottom: 10px;
}

.left-blue-box {
    background-color: #ececec;
    min-height: 164px;
}

.outer-box-blue {
    border: 2px solid #ececec;
    color: #fff;
}

.blue-box {
    font-size: 22px;
    min-height: 140px;
    padding: 37px 0;
    text-align: center;
    color:#263F92;
    font-weight: 600;
}

.outer-box-blue .fa-users,
.outer-box-blue .fa-building,
.outer-box-blue .fa-building-o,
.outer-box-blue .fa-flag-o,
.outer-box-blue .fa-sitemap{
    color: #F16806;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    padding: 52px 0;
}

.dashboard-top {
    padding-top: 60px;
}

.text-organization {
    font-size: 17px;
    margin-bottom: 17px;
}

.organization-detail h2 {
    margin-top:0px;
    color:#263F92;
    margin-bottom: 20px;
}

.edit-icon {
    font-size: 16px;
}

.current-plan {
  font-size: 26px;
   color:#263F92;
}

.dashboard-top b, 
.dashboard-top strong {
    font-weight: 900;
    font-size: 40px;
}

.highcharts-button {
    display: none;
}
/* Progress Step
-------------------------------------------------- */

.wizard {
    margin: 0px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 0px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 78%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #263F92;
    border: 1px solid #263F92;
    color:#fff;
    font-weight: bold;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

/*.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}*/

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}


.nav-tabs {
    border-bottom: transparent;
}

.form-report {
  /*  padding-right: 11%;*/
    padding-left: 9%;
}

.btn-default-step{
    font-size: 18px;
    line-height: 30px;
    padding: 6px 24px;
    border-radius: 6px;

}

.form-report .form-control {
    height: 44px;
    box-shadow: none;

}

.form-report textarea{
   height: auto !important;
    box-shadow: none;
}

.form-report  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
}

.form-report  .form-group{
    margin-bottom: 25px;
}



.search-input {
    position: relative;
}


.glyphicon-search{
    position: absolute;
    /* left: 0; */
    right: 15px;
    top: 17px;
}

.error {
    color:#a94442;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
    

    .outer-box-blue,
    .outer-box-green,
    .outer-box-yellow {
        margin-bottom: 10px;
    }

    .dashboard-top {
        padding-top: 83px;
    }

    .main-header {
        background: #fff;
    }

    .main-sidebar,
    .left-side {
        width: 230px !important;
    }

    .main-sidebar,
    .left-side {
        padding-top: 161px;
    }

    .nav-custom {
        height: 83px !important;
    }


   /* SMAUDIT
-------------------------------------------------- */
    
    .top-header {
        margin-top: 10%;
    }

    .top-header .text-right {
        text-align: left;
    }

    .top-right-nav {
        display: none;
    }
    .main-footer {
        position: unset !important;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .top-right-nav,
    .langauge-top {
        display: none;
    }
}
.error {
    color: red !important;
    font-size: 12px !important;
}


.input-lg {
  font-size: 14px!important;
}