
.faa::before {
	content: '';
	display: inline-block;
	background: url("../img/sprite-checkbox.png") no-repeat 0 0;
	padding:  14px;
	vertical-align: middle;
	margin-right: 10px;
}

.faa.fa-unchecked::before {
  content: '';
  background-position: 0 0;
}

.faa.fa-checked::before {
  content: '';
  background-position: -52px 0;
}


.works-in-ie-login label {
	padding-left: 0;
}


/** radio custom Css **/

.fa-radio::before {
	content: '';
	display: inline-block;
	background: url("../img/custom-radio-btn.png") no-repeat 0 0;
	padding:  12px 12px;
	vertical-align: middle;
	margin-right: 4px;
}

.fa-radio.fa-unchecked::before {
  content: '';
  background-position: 2px 0px;
}

.fa-radio.fa-checked::before {
  content: '';
  background-position: -40px 0;
}

.Educational-info .radio-inline {
	padding-left: 12px;

}
/***Oxygen fonts css***/
@font-face {
    font-family: 'oxygenbold';
    src: url('fonts//oxygen-bold.woff2') format('woff2'),
         url('fonts//oxygen-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oxygenlight';
    src: url('fonts//oxygen-light.woff2') format('woff2'),
         url('fonts//oxygen-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oxygenregular';
    src: url('fonts//oxygen-regular.woff2') format('woff2'),
         url('fonts//oxygen-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('fonts//opensans-bold.woff2') format('woff2'),
         url('fonts//opensans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts//opensans-regular.woff2') format('woff2'),
         url('fonts//opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts//opensans-semibold.woff2') format('woff2'),
         url('fonts//opensans-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts//opensans-light.woff2') format('woff2'),
         url('fonts//opensans-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}