<div class="">
    <div class="container">
    	<h2 style="">Terms &amp; Conditions</h2>
        <div style="font-size:18px;">
            <?php echo $terms->meta_description; ?>
        </div>
    </div>
</div>